# Operador con valores faltantes

## librerias üìö

In [4]:
import pandas as pd
import numpy as np

## Python üêç

In [1]:
print(
    None or True,
    None or False,
    None == None,
    None is None,
    # None + True -> esta linea generar error para Python al trabajar con datos None
    type(None),
    sep="\n"
)

True
False
True
True
<class 'NoneType'>

## Numpy üî¢

In [5]:
print(
    np.nan or True,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan + 2, # En esta libreria si puedo hacer calculos con valores faltantes
    f"los valores faltantes con Numpy son de tipo: {type(np.nan)}",
    np.isnan(np.nan),
    sep="\n"

)

nan
False
True
nan
los valores faltantes con Numpy son de tipo: <class 'float'>
True

## Pandas üêº

In [6]:
test_missing_df = pd.DataFrame.from_dict(
    data=dict(
        x=[0, 1, np.nan, np.nan, None],
        y=[0, 1, pd.NA, np.nan, None]
    )
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

In [7]:
# Para saber existencia de datos faltantes, y que sin importar como se representen el nos mostrara True or False
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [8]:
# Para saber existencia de datos faltantes, y que sin importar como se representen el nos mostrara True or False
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [9]:
# Para saber datos faltantes en una columna 
test_missing_df.x.isnull()

0    False
1    False
2     True
3     True
4     True
Name: x, dtype: bool

In [10]:
# Pandas nos refleja valores faltantes cunado se mezclan con float, como NaN
pd.Series([1,np.nan])

0    1.0
1    NaN
dtype: float64

In [11]:
#Pandas nos entrega valores faltantes cuando se mezclan con fechas, como NaT
pd.Series([pd.to_datetime("2022-01-01"), np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]

<div class="alert alert-info" role="alert">
    <b style="font-size: 1.5em;">üîç Summary</b>
    <p>
        Despu√©s de analizar los datos y realizar diversas exploraciones, llegamos a las siguientes conclusiones:
        <ul>
            <li>Es crucial identificar los valores faltantes, dependiendo de la biblioteca que est√©s utilizando.</li>
            <li>En Numpy, los valores faltantes se representan como 'nan' y se comportan como valores num√©ricos (tipo float). Al compararlos con 'None', se obtiene False, indicando que no son el mismo objeto. Sin embargo, al usar la funci√≥n 'is', se obtiene True, lo que significa que un 'nan' est√° contenido en otro 'nan'. Se debe tener precauci√≥n al manejar estos casos.</li>
        </ul>
    </p>
</div>